<img class = "img-responsive center-block" style="width: 8%; align: center; padding: 15px" src="http://i.imgur.com/mrrJhwH.png">
<p class="text-center text-muted" style="padding: 6px">&copy; PetPals</p>
