<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <header>
    <% include ./partials/header %>
  </header>
  <body class="container-fluid" style="background:#ffff80">
    <%- body %>
  </body>
  <footer>
    <% include ./partials/footer %>
  </footer>
</html>
