This is our NEW pets page. It will have the form for creating a new pet.


<form action="/pets" method="post">
<% include _form %>
<div class="form-group">
        <label for="profilePicture"> Profile Picture </label>
        <input type="hidden" id="profilePicture" name="profilePicture" value="https://s3-us-west-2.amazonaws.com/petpals/pet+pals-01.png" />
    </div>

<input class="custom-file-input" type="file" id="file_input">
<div class="button">
<button type="submit"> Create my Pet </button>
</div>
</form>

<script type="text/javascript">
/*
    Function to carry out the actual PUT request to S3 using the signed request from the app.
*/
function upload_file(file, signed_request, url){
    var xhr = new XMLHttpRequest();
    xhr.open("PUT", signed_request);
    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onload = function() {
        if (xhr.status === 200) {
            console.log(url);
            // document.getElementById("preview").src = url;
            document.getElementById("profilePicture").value = url;
        }
    };
    xhr.onerror = function() {
        alert("Could not upload file.");
    };
    xhr.send(file);
}
/*
    Function to get the temporary signed request from the app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xbr = new XMLHttpRequest();
    xbr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xbr.onreadystatechange = function(){
        if(xbr.readyState === 4){
            if(xbr.status === 200){
                var response = JSON.parse(xbr.responseText);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL.");
            }
        }
    };
    xbr.send();
}
/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    console.log("here");
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("No file selected.");
        return;
    }
    get_signed_request(file);
}
/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("file_input").onchange = init_upload;
})();
</script>
