This is our NEW pets page. It will have the form for creating a new pet.


<form action="/pets" method="post">
<% include _form %>
<div class="button">
<button type="submit"> Create my Pet </button>
</div>
</form>