@import url(https://fonts.googleapis.com/css?family=Signika:400,700);

body {
  padding: 50px;
  font-size: 14px;
}

a {
  color: #00B7FF;
}

* {
  font-family: 'Signika';

}

nav {
  font-size: 18px;
}
