<div class="container">
<div class="jumbotron" style="text-align:center; background:#99ddff">
	<h2> What's PetPals? </h2>
	<h1> It's Facebook for Pets!! </h1>
</div>

<div class="row-marketing">

<div class="col-lg-8 col-md-offset-2" style="border: 1px solid #ddd; text-align:center; margin: 0 auto; background: #99ddff">
	<div style=" padding:10px">

	<h3> Social Media </h3>
		<p>PetPals lets you add your pets to your profile, and post pictures and statuses AS your furry/slimy/scaly best friend!</p>
	</div>
	<div style="border-top: 1px solid #ddd; padding:10px">
	<h3>The Technology</h3>
		<p>PetPals is a MEN stack application that utilizes
			<ul style="list-style-type:none"> <li> Express </li>
				<li> Node.js </li>
				<li> MongoDB</li>
				<li> Mongoose </li>
				<li> Amazon Web Services </li>
				<li> EJS </li>
				<li> Bootstrap </li>
			</p>
	</div>
	<div style="border-top: 1px solid #ddd; padding:10px">
	<h3>Team PetPals</h3>
		<p> Contributors:

			<ul style="list-style-type:none">
			<li> <a href="https://www.linkedin.com/in/nicholasgmbrown"> Nicholas Brown </a> </li>
			<li> <a href="https://www.linkedin.com/in/wschaeferiii"> Will Schaefer </a> </li>
			<li> <a href="https://www.linkedin.com/in/cbates2" > Chris Bates </a> </li>
			<li> <a href="https://www.linkedin.com/in/erinobrock"> Erin Obrock </a> </li>
			</ul>
		</p>
	</div>
	<div style="border-top: 1px solid #ddd; padding:10px">
		<h3> Future Developments </h3>
		<ul style="text-align:left">
			<li> Add a 'Follow' feature that allows you to view a feed of posts just by your Pet Pals!</li>
			<li> Implement a "Purrs" and "Grrrs" system to dynamically add and remove our version of likes and dislikes on a button attached to each post </li>
			<li> Add a Playdate feature that allows pets to schedule events with each other </li>
		</ul>
	</div>
	</div>
</div>
</div>

