 <div class="container" style='text-align: center'>
<div class="jumbotron jumbotron-fluid col-md-8 col-md-offset-2" style="background:#99ddff">
    <h1 class="display-3">Welcome to PetPals!</h1>
        <img class = "img-responsive center-block" style="width: 60%; align: center" src="http://i.imgur.com/mrrJhwH.png">
    <h2 class="lead">The social media site for pets!</h2>
    <div class="row">
    	<div class='col-md-6'> <p>Not a user yet? Sign up now! </p>
    	<div class="row"><a class="btn btn-primary" href="/signup" role="button">Sign Up!</a>
		</div>
    	</div>
    	<div class="col-md-6"> <p>Already have an account? </p>
    	<div class="row">
    	<a class="btn btn-primary" href="/login" role="button">Sign In!</a></div>
  </div>
</div>
</div>
</div>
